/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 100%;
     height: 100%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1{
      font-family: fantasy;
      font-size: 90px;
      margin-bottom: 0px;
      text-shadow: 5px 5px 5px whitesmoke;
  }
  h2{
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 0px;
  }
  h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
  }
  header {
      background-color: skyblue;
      background-image: url(rainierbeer.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 400px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: cornflowerblue;
      display: block;
  }
  nav {
      float: left;
      width: 100%;
      background-color:lavender;
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
      font-size: 25px;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 5px 50px 5px 50px;
      vertical-align: middle;
  }
  a {
      color: cornflowerblue;
      text-decoration-line: none
  }
  a:hover {
    color: indianred;
    text-decoration-line: overline underline;
    text-transform: uppercase;
  }
  section {
      width: 80%;
      display: inline-block;
      float: left;
      margin-top: 4px;  
      margin-left: 40px  
  }
  article{
    margin-bottom: 50px;
  }
  img{
      width: 80%
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }q